view
text
    line-height 1
    box-sizing border-box
    font-size 30upx
input
	box-sizing border-box
	font-size 30upx

textarea
    font-size 30upx

checkbox
    padding 0
    margin 0
    box-sizing border-box
    line-height 1
    
button
    margin 0
    padding 0
    box-sizing border-box

::-webkit-scrollbar
    width 0
    height 0
    background-color transparent

ty()
    box-shadow: 0 0 50px rgba(#b7cfff,.3)