
c1 = #3a89ff

// 设计图
.design
    text-align center
    padding 60upx 0
    background #fff
    margin-top 20upx
    bs()

.bg-one
    background #ecf3fc

.bg-two
    background #f5f5f5

.bg-three
    background #f9fbfc

// 上传样式
.pub-load
    float 0
    padding-bottom 20upx
    .pub-picture-wrap
        .box
            border 1px dashed #999999
            width 150upx
            height 150upx
            border-radius 8upx
            float left
            margin-left 15upx
            ml 0
            back1('0c2f3_55x55.png',55upx)
            overflow hidden
            position relative
            display flex
            justify-content center
            align-items center
            image
                width 100%
                height 100%
            text
                position absolute
                left 0
                right 0
                bottom 0
                color #fff
                line-height 1.6
                background rgba(#000,.6)
                text-align center
                font-size 24upx

// input
.placeholder-class
    color #c7c7c7
    
.pub-button
    padding 20upx 20upx
    float 0
    text
        heightL 70rpx
        background c1
        color #fff
        display block
        width 100%
        text-align center
        border-radius 60upx

// 新建
.right-btn
    border solid .5px c1
    color c1
    padding 6upx 20upx
    border-radius 6upx
    font-size 26upx
    white-space nowrap
    line-height 1
    &.hover
        background c1
        color #fff

// 没有数据
.nodata
    text-align center
    padding 200upx 0
    margin-top 10px
    color #999
    ov 2

// 导航栏悬浮
.uni-navbar
    position sticky
    z-index 2
    top 0

// 选择默认的颜色
.select-active
    color #bebebe

// navigaror 无背景
.hover-class
    background none

// 图片底色
.pub-img-back
    background #e5e5e5