
c1 = #3a89ff

// 设计图
.design
    text-align center
    border-bottom 1px solid #ccc
    padding 60upx 0
    background #fff

.bg-one
    background #ecf3fc

.bg-two
    background #f5f5f5

.bg-three
    background #f9fbfc

// 上传样式
.pub-load
    float 0
    padding-bottom 20upx
    .pub-picture-wrap
        .box
            border 1px dashed #999999
            width 150upx
            height 150upx
            border-radius 8upx
            float left
            margin-left 15upx
            ml 0
            back1('0c2f3_55x55.png',55upx)

// input
.placeholder-class
    color #b2b2b2
.place-class
    color #d4d4d4
// navigator
.hover-class
    background c1
    color #fff

.pub-button
    padding 20upx 20upx
    float 0
    text
        heightL 70rpx
        background c1
        color #fff
        display block
        width 100%
        text-align center
        border-radius 60upx

// 新建按键
.right-btn
    border solid .5px c1
    color c1
    padding 6upx 20upx
    border-radius 6upx
    font-size 26upx

// 没有数据
.nodata
    text-align center
    padding 200upx 0
    margin-top 10px
    color #999
    ov 2
