
@import "init.styl"

.bg-one
    background #ecf3fc
    
c1 = #5488f8

.container
    float left
    width 100%
    min-height 100vh

.login-back
    position absolute
    left 0
    top 0
    bottom 0
    right 0
    image
        width 100%
        
.task-list
    float left
    width 100%
    padding 0 20upx
    .ul
        .li
            float left
            width 100%
            padding 25upx 20upx
            background #fff
            margin-top 20upx
            border-radius 8upx
            .fl-layout
                float left
                width 570upx
                .title
                    color #333
                    float left
                    width 100%
                    font-size 33upx
                .wrap
                    float left
                    width 100%
                    display flex
                    margin-top 24upx
                    .pict
                        float left
                        width 132upx
                        height 132upx
                        flex-basis 132upx
                        border-radius 8upx
                        overflow hidden
                        image
                            width 100%
                    .text
                        float left
                        flex-grow 1
                        padding-left 20upx
                        .p
                            margin-top 6upx
                            &:nth-child(1)
                                margin-top 0
                        text
                            font-size 24upx
                            
                        .t1
                            color #ccc
                        .t2
                            margin-left 20upx
            .fr-layout
                float right
                text
                    width 84upx
                    height 36upx
                    line-height 36upx
                    border-radius 6upx
                    color #fff
                    font-size 24upx
                    display block
                    text-align center
                .done
                    background #3a89ff;
                .doing
                    background #ff7a93;
                .modify
                    background #ffcc00;

.logo
    text-align center
    padding 80upx 0 80upx
    position relative
    z-index 1
    image
        width 236upx
        height 67upx

.login-wrap
    float left
    width 100%
    position relative
    margin-top 160upx
    z-index 1
    .wrapper
        width 565upx
        margin 0 auto
        border-radius 10upx
        padding 30upx 34upx
        background rgba(#fff,.6)
        position relative
        &:after
            content ''
            position absolute
            width 206upx
            height 193upx
            background url(../img/img7.png) center/206upx no-repeat
            top -139upx
            left -45upx
    .title
        display table
        width 100%
        text
            color c1
    .ul
        display table
        width 100%
        .forpass
            float left
            width 100%
            margin-top 48upx
            color #b2b2b2
            checkbox
                color c1
                transform scale(0.7)
                transform-origin top center
                float left
                margin-top -1upx
        .li
            float left
            width 100%
            margin-top 20upx
            border-bottom solid 1px #eeeeee
            margin-top 35upx
            input
                height 100upx
                width calc(100% - 52upx)
                float left
                margin-left 20upx
                padding-right 20upx
            .short
                width calc(100% - 250upx)
            .get-code
                color c1
                line-height 100upx
                float right
            .ico
                float left
                width 32upx
                height 100upx
                &.ico-i1
                    background url(../img/img3.png) center no-repeat
                    background-size 32upx
                &.ico-i2
                    background url(../img/img4.png) center no-repeat
                    background-size 22upx
                &.ico-i3
                    background url(../img/img5.png) center no-repeat
                    background-size 32upx
    .login-btn
        margin 74upx auto 0
        button
            width 100%
            background #5488f8
            letter-spacing 15upx
            text-indent 15upx
        .tips
            text-align center
            padding-top 49upx
            text
                color #999
            .color
                color c1
            navigator
                display inline-block

.right-butn
    border solid 1px #3a89ff
    color #3a89ff
    padding 6upx 20upx
    border-radius 8upx
    font-size 26upx
    &:active
        background #3a89ff
        color #fff