
@import "init.styl"

.bg-one
	background #ecf3fc
	
c1 = #5488f8

.container
	float left
	width 100%
	min-height 100vh

.login-back
	position absolute
	left 0
	top 0
	bottom 0
	right 0
	image
		width 100%
        
.task-list
	float left
	width 100%
	padding 0 20rpx
	.ul
		.li
			float left
			width 100%
			padding 25rpx 20rpx
			background #fff
			margin-top 20rpx
			border-radius 8rpx
			.fl-layout
				float left
				width 570rpx
				.title
					color #333
					float left
					width 100%
					font-size 33rpx
				.wrap
					float left
					width 100%
					display flex
					margin-top 24rpx
					.pict
						float left
						width 132rpx
						height 132rpx
						flex-basis 132rpx
						border-radius 8rpx
						overflow hidden
						image
							width 100%
					.text
						float left
						flex-grow 1
						padding-left 20rpx
						.p
							margin-top 6rpx
							&:nth-child(1)
								margin-top 0
						text
							font-size 24rpx
							
						.t1
							color #ccc
						.t2
							margin-left 20rpx
			.fr-layout
				float right
				text
					width 84rpx
					height 36rpx
					line-height 36rpx
					border-radius 6rpx
					color #fff
					font-size 24rpx
					display block
					text-align center
				.done
					background #3a89ff;
				.doing
					background #ff7a93;
				.modify
					background #ffcc00;

.logo
	text-align center
	padding 80rpx 0 80rpx
	position relative
	z-index 1
	image
		width 236rpx
		height 67rpx

.login-wrap
	float left
	width 100%
	position relative
	margin-top 160rpx
	z-index 1
	.wrapper
		width 565rpx
		margin 0 auto
		border-radius 10rpx
		padding 30rpx 34rpx
		background rgba(#fff,.6)
		position relative
		&:after
			content ''
			position absolute
			width 206rpx
			height 193rpx
			background url(../img/img7.png) center/206rpx no-repeat
			top -139rpx
			left -45rpx
	.title
		display table
		width 100%
		text
			color c1
	.ul
		display table
		width 100%
		.forpass
			float left
			width 100%
			margin-top 48rpx
			color #b2b2b2
			checkbox
				color c1
				transform scale(0.7)
				transform-origin top center
				float left
				margin-top -1rpx
		.li
			float left
			width 100%
			margin-top 20rpx
			border-bottom solid 1px #eeeeee
			margin-top 35rpx
			input
				height 100rpx
				width calc(100% - 52rpx)
				float left
				margin-left 20rpx
				padding-right 20rpx
			.short
				width calc(100% - 250rpx)
			.get-code
				color c1
				line-height 100rpx
				float right
			.ico
				float left
				width 32rpx
				height 100rpx
				&.ico-i1
					background url(../img/img3.png) center no-repeat
					background-size 32rpx
				&.ico-i2
					background url(../img/img4.png) center no-repeat
					background-size 22rpx
				&.ico-i3
					background url(../img/img5.png) center no-repeat
					background-size 32rpx
	.login-btn
		margin 74rpx auto 0
		button
			width 100%
			background #5488f8
			letter-spacing 15rpx
			text-indent 15rpx
		.tips
			text-align center
			padding-top 49rpx
			text
				color #999
			.color
				color c1
			navigator
				display inline-block

.right-butn
	border solid 1px #3a89ff
	color #3a89ff
	padding 6upx 20upx
	border-radius 8upx
	font-size 26upx