.purchase-wrapper {
  float: left;
  width: 100%;
  padding: 0 20upx;
}
.purchase-wrapper .ul .li {
  float: left;
  width: 100%;
  background: #fff;
  box-shadow: 0 4upx 70upx rgba(72,137,247,0.1);
  margin-top: 20upx;
  padding: 36upx 20upx;
  border-radius: 8upx;
}
.purchase-wrapper .ul .li .pict {
  float: left;
  overflow: hidden;
  border-radius: 8upx;
  width: 132upx;
  height: 132upx;
}
.purchase-wrapper .ul .li .pict image {
  width: 100%;
}
.purchase-wrapper .ul .li .text {
  float: right;
  width: calc(100% - 152upx);
  height: 132upx;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.purchase-wrapper .ul .li .text .title {
  float: left;
  width: 100%;
}
.purchase-wrapper .ul .li .text .title .h2 {
  float: left;
}
.purchase-wrapper .ul .li .text .p {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.purchase-wrapper .ul .li .text .p text {
  font-size: 26upx;
  float: left;
}
.purchase-wrapper .ul .li .text .p .s1 {
  color: #999;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.purchase-wrapper .ul .li .text .p .s2 {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
