@import "F:\Sourse\网页模版\fn\fn.styl"

.collection-wrapper
    float 0
    padding 0 20px
    .ul
        .li
            float 0
            background #fff
            box-shadow 0 4px 70px rgba(#4889f7,.1)
            margin-top 20px
            padding 36px 20px
            border-radius 8px
            .pict
                float left
                overflow hidden
                border-radius 10px
                widthZ 148px
                image
                    width 100%
            .text
                float right
                widthC 168px
                height 148px
                display flex
                flex-direction column
                justify-content space-between
                .title
                    float 0
                    .h2
                        float left
                        font-size 36px
                .wrap
                    float 0
                    .p
                        float 0
                        margin-top 10px
                        mt 0
                        text
                            font-size 26px
                            float left
                        .s1
                            color #999