@import "F:\Sourse\网页模版\fn\fn.styl"

/* 施工日志 */

.consolog-wrapper
    float 0
    padding 0 20px
    .ul
        .li
            float 0
            background #fff
            box-shadow 0 4px 70px rgba(#4889f7,.1)
            margin-top 20px
            padding 36px 20px
            border-radius 8px
            .title
                float 0
                .h2
                    float left
                    font-size 36px

            .layout
                float 0
                margin-top 32px
                .pict
                    float left
                    overflow hidden
                    border-radius 10px
                    widthZ 148px
                    image
                        width 100%
                .text
                    float right
                    widthC 168px
                    height 148px
                    display flex
                    flex-direction column
                    justify-content space-around
                    .p
                        float 0
                        display flex
                        text
                            float left
                        .s1
                            color #999
                            font-size 28px
                            flex-shrink 0
                        .s2
                            ov 1