@import "F:\Sourse\网页模版\fn\fn.styl"

/* 费用申请 */

.costapp-wrapper
    float 0
    padding 0 20px
    .ul
        .li
            float 0
            background #fff
            border-radius 10px
            margin-top 20px
            box-shadow 0 4px 50px rgba(#b7cfff,.3)
            padding 30px 20px
            .pict
                float left
                widthZ 148px
                border-radius 8px
                overflow hidden
                image
                    width 100%
            .text
                widthC 168px
                float right
                height 148px
                display flex
                justify-content space-between
                flex-direction column
                .wrap
                    .p
                        margin-top 15px
                        mt 0
                .p
                    float 0
                    .s1
                        color #999
                        font-size 24px
                    .s2
                        color #3a89ff

.costapp-price
    float 0
    position relative
    margin-top 20px
    overflow hidden
    padding 0 20px
    .back
        position absolute
        left 0
        top -45px
        width 100%
    .one
        float 0
        position relative
        z-index 1
        padding 55px 0 40px
    
        .box
            float left
            width 50%
            padding-left 38px
            .p
                color #fff
                font-size 26px
            .wrap
                padding-top 24px
                .h2
                    color #fff
                    font-size 56px
                .small
                    color #fff
                    font-size 26px
    .two
        float 0
        position relative
        z-index 1
        background #fff
        border-radius 10px
        padding 20px 10px 40px
        box-shadow 0 4px 50px rgba(#b7cfff,.3)
        .ul
            .li
                width 50%
                float left
                margin-top 20px
                &:nth-child(even)
                    position relative
                    padding-left 20px
                    &:after
                        content ''
                        position absolute
                        width 1px
                        height 41px
                        background #adb2b8
                        left -10px
                        top 24px
                image
                    width 100px
                    float left
                .text
                    widthC 100px
                    float right
                    height 100px
                    display flex
                    justify-content space-around
                    flex-direction column
                    .span
                        color #999
                        display block
                        font-size 26px
                    .strong
                        font-size 32px
                        display block