@import "F:\Sourse\网页模版\fn\fn.styl"


.material-warpper
    background #fff
    border-radius 8px
    float 0
    box-shadow 0 4px 50px rgba(#b7cfff,.3)
    .one
        float 0
        padding 38px 24px
        .h2
            font-size 36px
        .p
            margin-top 29px
            display block
            text
                font-size 26px
            .s1
                color #999

    .two
        float 0
        overflow-x auto
        padding-bottom 20px
        .ul
            .li
                display flex
                border-bottom 1px solid #e7e7e7
                &:nth-child(1)
                    text
                        background #eeeeee
                .text
                text
                    flex-shrink 0
                    float left
                    width 200px
                    text-align center
                    line-height 60px
                    height 60px
                    border-left 1px solid #e7e7e7
                    border-leftN 1
                .w1
                    width 100px