
@import "F:\Sourse\网页模版\fn\fn.styl"

/*我的工资*/

.mysalary-wrapper
    float 0
    padding 20px
    .layout
        box-shadow 0 0 50px rgba(#b7cfff,.46)
        float 0
    .one
        font-size 36px
        float 0
        padding 25px 25px
    .two
        float 0
        padding 0 25px
        .pict
            widthZ 148px
            float left
            overflow hidden
            border-radius 10px
            image
                width 100%
        .text
            float right
            widthC 168px
            height 148px
            display flex
            justify-content space-around
            flex-direction column
            padding 10px 0
            text
                font-size 26px
            .p
                float 0
                .s1
                    color #999
                    width 150px
                    display inline-block
                .s2
                    color #ff3838
                .s3
                    position relative
    .three
        float 0
        margin-top 30px
        .ul
            .li
                float 0
                border-top 1px solid #e7e7e7
                border-topN 1
                &.first
                    background #eee
                text
                    float left
                    heightL 60px
                    border-left 1px solid #e7e7e7
                    text-align center
                    font-size 26px
                    border-leftN 1
                    &.w1
                        width 10%
                    &.w2
                        width 18%
