@import "F:\Sourse\网页模版\fn\fn.styl"

.mytask-wrapper
    float 0
    padding 0 20px
    .ul
        .li
            float 0
            background #fff
            box-shadow 0 4px 70px rgba(#4889f7,.1)
            margin-top 20px
            padding 36px 20px
            border-radius 8px
            .pict
                float left
                overflow hidden
                border-radius 10px
                widthZ 148px
                image
                    width 100%
            .text
                float right
                widthC 168px
                height 148px
                display flex
                flex-direction column
                justify-content space-between
                .title
                    float 0
                    .h2
                        float left
                        font-size 36px
                    .span
                        float left
                        margin-left 15px
                        color #fff
                        border-radius 6px
                        font-size 20px
                        height 36px
                        padding 0 10px
                        display flex
                        justify-content center
                        align-items center
                        &.c1
                            background #3a89ff
                        &.c2
                            background #0bb5b3
                            
                .wrap
                    float 0
                    .p
                        float 0
                        margin-bottom 10px
                        text
                            font-size 26px
                            float left
                        .s1
                            color #999