@import "F:\Sourse\网页模版\fn\fn.styl"



.moreline
    .caigou
        background #f0f0f0
        height 188px
        width 100%
        border-radius 10px
        padding 20px
        margin-top 29px

.procurement-wrap
    background #fff
    border-radius 8px
    float 0
    .one
        padding 20px
        float 0
        .layout
            margin-top 20px
            .pict
                float left
                widthZ 148px
                image
                    width 100%
            .text
                widthC 168px
                float right
                height 148px
                display flex
                flex-direction column
                justify-content space-around
                .span
                    color #999
                    float left
                .c-sele
                    width 352px
                    float left
                .p
                    color #000
                .color
                    color #ff4d4d
    .two
        float 0
        margin-top 10px
        .ul
            .li
                float 0
                border-top 1px solid #e7e7e7
                &:first-child
                    background #eeeeee
                    text
                        color #333
                text
                    float left
                    border-left 1px solid #e7e7e7
                    border-leftN 1
                    text-align center
                    color #666
                    line-height 62px
                    font-size 26px
                    &.sp1
                        width 11%
                    &.sp2
                        width 20%
                    &.sp3
                        width 12%