@import "F:\Sourse\网页模版\fn\fn.styl"

.purchase-wrapper
    float 0
    padding 0 20px
    .ul
        .li
            float 0
            background #fff
            box-shadow 0 4px 70px rgba(#4889f7,.1)
            margin-top 20px
            padding 36px 20px
            border-radius 8px
            .pict
                float left
                overflow hidden
                border-radius 8px
                widthZ 132px
                image
                    width 100%
            .text
                float right
                widthC 152px
                height 132px
                display flex
                flex-direction column
                justify-content space-around
                .title
                    float 0
                    .h2
                        float left
                .p
                    float 0
                    display flex
                    text
                        font-size 26px
                        float left
                    .s1
                        color #999
                        flex-shrink 0
                    .s2
                        ov 1